---
import './Testimonios.scss';

import testimonio1 from '@assets/images/testimonios/testimonio1.jpg';
import testimonio2 from '@assets/images/testimonios/testimonio2.jpeg';
import testimonio3 from '@assets/images/testimonios/testimonio3.jpg';
interface Testimonial {
  id: number;
  name: string;
  text: string;
  img: ImageMetadata;
}

const testimonials: Testimonial[] = [
  {
    id: 1,
    name: 'María López',
    text: 'Increible Experiencia con Amadeus, ¡me encantó!',
    img: testimonio1,
  },
  {
    id: 2,
    name: 'Juan Pérez',
    text: '¡El mejor viaje de mi vida con Amadeus!',
    img: testimonio2,
  },
  {
    id: 3,
    name: 'Luisa Rodriguez',
    text: '¡Una experiencia inolvidable con Amadeus!',
    img: testimonio3,
  },
];
---

<div class="carousel">
  {
    testimonials.map((testimonial) => (
      <div class="testimonial" data-id={testimonial.id}>
        <p class="testimonial-text">"{testimonial.text}"</p>
        <p class="testimonial-name">- {testimonial.name}</p>
        <img src={testimonial.img.src} alt={`Testimonio de ${testimonial.name}`} />
      </div>
    ))
  }
  <button class="prev" aria-label="Previous">‹</button>
  <button class="next" aria-label="Next">›</button>
</div>

<script>
  let currentIndex = 0;

  const testimonials = Array.from(document.querySelectorAll('.testimonial'));
  const totalTestimonials = testimonials.length;

  const updateTestimonials = () => {
    testimonials.forEach((testimonial, index) => {
      testimonial.classList.toggle('active', index === currentIndex);
    });
  };

  document.querySelector('.prev')?.addEventListener('click', () => {
    currentIndex = (currentIndex - 1 + totalTestimonials) % totalTestimonials;
    updateTestimonials();
  });

  document.querySelector('.next')?.addEventListener('click', () => {
    currentIndex = (currentIndex + 1) % totalTestimonials;
    updateTestimonials();
  });

  updateTestimonials();
</script>
