---
// Assets
import { Image } from 'astro:assets';

// Images
import Cable from '@assets/images/destinos/cable-car-8357177_1280.webp';
import Camogli from '@assets/images/destinos/camogli-4324509_1280.jpg';
import Cathedral from '@assets/images/destinos/cathedral-6830526_1280.jpg';
import Galata from '@assets/images/destinos/galata-4043037_1280.jpg';
import Hallstatt from '@assets/images/destinos/hallstatt-3609863_1280.jpg';
import Istanbul from '@assets/images/destinos/istanbul-915076_1280.jpg';
import Jordan from '@assets/images/destinos/jordan-1846284_1280.jpg';
import Town from '@assets/images/destinos/town-7015699_960_720.jpg';

// Styles
import './SliderHome.scss';
---

<div class="containt__carrousel">
    <div class="carrousel__title">
        TRAVENTHIA
    </div>
    <div class="slider__box">
        <ul>
            <li>
                <img src={Cable.src} alt='Imagen de slider' >
            </li>
            <li>
                <img src={Camogli.src} alt='Imagen de slider' >
            </li>
            <li>
                <img src={Cathedral.src} alt='Imagen de slider' >
            </li>
            <li>
                <img src={Galata.src} alt='Imagen de slider' >
            </li>
            <li>
                <img src={Hallstatt.src} alt='Imagen de slider' >
            </li>
            <li>
                <img src={Istanbul.src} alt='Imagen de slider' >
            </li>
            <li>
                <img src={Jordan.src} alt='Imagen de slider' >
            </li>
            <li>
                <img src={Town.src} alt='Imagen de slider' >
            </li>
        </ul>
    </div>
</div>